.error h1{
    font-family: var(--font3);
font-weight: 400;
font-size: 250px;
text-transform: uppercase;
color: var(--black);
text-align: center;
}
.error p{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: var(--black);
margin-bottom: 20px;
margin-top: 20px;
text-align: center;
}
.error button{
    font-family: var(--second-family);
font-weight: 400;
font-size: 18px;
letter-spacing: -0.05em;
text-transform: uppercase;
color: var(--hero-text);
border-radius: 100px;
width: 247px;
height: 52px;
background: var(--bttn-lined);
border: none;
margin: 0 auto;
display: block;
margin-top: 25px;
cursor: pointer;
}
.error button:hover{
    transform: scale(1.1);
}
.error_img img{
    margin-bottom: -90px;
 overflow: hidden;
 width: 100%;
}
@media (max-width:950px) {
.error_img img{
    margin-bottom: -70px;
}
}
@media (max-width:700px) {
    .error_img img{
        margin-bottom: -50px;
    }
}
@media (max-width:850px) {
    .error h1{
        font-size: 200px;
    }
    .error p{
        font-size: 14px;
    }
    .error button{
        font-size: 16px;
        width: 200px;
        height: 40px;
    }
}
@media (max-width:650px) {
.error h1{
    font-size: 175px;
}
    .error p{
        font-size: 12px;
    }
    .error button{
        font-size: 14px;
        width: 150px;
        height: 35px;
    }
}
@media (max-width:350px) {
    .error h1{
        font-size: 150px;
    }
    .error p{
        font-size: 10px;
    }
    .error button{
        font-size: 12px;
        width: 100px;
        height: 30px;
    }
}